

.drawer-size {
    /* max-height: calc(100vh - var(--navHeight)); */
    height: 100%;
}

.main-content-height {
    /* min-height: calc(100vh - var(--navHeight)); */
    min-height: 100vh;
}

.icon-space-betwwen {
    margin-right: 5px;
}

.filtry-info-text {
    font-size: 0.6em;
    margin-left: 10px;

}