.maszyny-nowe-container {
    position: relative;
    overflow: hidden;
    overflow-y: hidden;
    min-height: 150px;
}



.option-floating-button {
    position: fixed;
    right: 25px;
    z-index: 10;
}


