<p>news list works !</p>

<div class="news-articles-mini-container" fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="15px" >
    <app-news-article-mini fxFlex="calc(50%-15px)" fxFlex.xs="100" fill="blue" title="beeeez tytulu" url="bledny-adres"  imgUrl="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"></app-news-article-mini>

    <app-news-article-mini fxFlex="calc(50%-15px)" fxFlex.xs="100" fill="#FF99FF" pointer="#FFCC33" title="Weryfikacja w terenie" url="kopanie-to-nasza-pasja" imgUrl="http://bdotp.pl/images/kopanieToNaszaPasja Weryfikacja WY-KOP_resize.png"></app-news-article-mini>
    
    <app-news-article-mini fxFlex="calc(50%-15px)" fxFlex.xs="100" invert="true" fill="#000066" pointer="green" title="finansowanie fabryczne" imgUrl="http://bdotp.pl/images/finansowanie_fabryczne_slajd.jpg"></app-news-article-mini>
</div>

