<div #container>
  <svg *ngIf="!isReady" [attr.viewBox]="preloaderViewBox" preserveAspectRatio="xMinYMin slice" x="0" y="0" width="100%"
    xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath id="cardContourFull">
        <!-- <path d="M75,0H400a0,0,0,0,1,0,0V710a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V75A75,75,0,0,1,75,0Z" /> -->
        <rect class="a" x="0.2" y="0.2" width="719.7" [attr.height]="preloaderHeight" rx="49.8" ry="49.8"/>
        <path d="M670,.3A49.8,49.8,0,0,1,719.7,50V1233a49.8,49.8,0,0,1-49.7,49.7H50A49.8,49.8,0,0,1,.3,1233V50A49.8,49.8,0,0,1,50,.3H670m0-.3H50A50,50,0,0,0,0,50V1233a50,50,0,0,0,50,50H670a50,50,0,0,0,50-50V50A50,50,0,0,0,670,0Z"/>
      </clipPath>
    </defs>
    <title>bax model spec preloader</title>
    <rect x="0" y="0" width="720" [attr.height]="preloaderHeight" [style.fill]="model.modelBackground" [style.clipPath]="cf.getUrlPath('cardContourFull')" />
    <image x="0" y="0" width="720" [attr.height]="preloaderHeight" opacity="0.1"
      xlink:href="./assets/svg/logotypy/logo_bax_signOnly.svg" />
    <image x="0" y="0" width="720" [attr.height]="preloaderHeight" xlink:href="./assets/svg/preloaders/puff.svg" />
  </svg>



  <div >
    <svg style="margin: 0px; padding: 0px;" [ngSwitch]="model.markaId" *ngIf="isReady" x="0" y="0" width="100%"
    viewBox="0 0 720 405" preserveAspectRatio="xMinYMin slice" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns="http://www.w3.org/2000/svg">
    <defs>
      <clipPath id="cardContourUp">
        <!-- <path d="M75,0H400a0,0,0,0,1,0,0V710a0,0,0,0,1,0,0H0a0,0,0,0,1,0,0V75A75,75,0,0,1,75,0Z" /> -->
          <path d="M.1,404.9V30A29.9,29.9,0,0,1,30,.1H690A29.9,29.9,0,0,1,719.9,30V404.9Z"/>
          <path d="M690,.3A29.8,29.8,0,0,1,719.8,30V404.8H.3V30A29.7,29.7,0,0,1,30,.3H690m0-.3H30A30,30,0,0,0,0,30V405H720V30A30,30,0,0,0,690,0Z"/>
      </clipPath>
      <clipPath id="cardContourDown">
        <path d="M35.1,404.9a35,35,0,0,1-35-35V.1H719.9V369.9a35,35,0,0,1-35,35Z"/>
        <path d="M719.8.2V369.9a34.9,34.9,0,0,1-34.9,34.9H35.1A34.9,34.9,0,0,1,.2,369.9V.2H719.8M720,0H0V369.9A35.1,35.1,0,0,0,35.1,405H684.9A35.1,35.1,0,0,0,720,369.9V0Z"/>
      </clipPath>
      <linearGradient id="metalicGradient" y1="466.73" x2="400" y2="466.73"
        gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#c4c6c8" />
        <stop offset="1" stop-color="#a7a9ac" />
      </linearGradient>


      <linearGradient [attr.id]="markaGradient" y1="367.5" x2="720" y2="367.5" gradientUnits="userSpaceOnUse">
        <stop offset="0" stop-color="#fff" stop-opacity="0.6" />
        <stop offset="0.35" stop-color="#fff" stop-opacity="0.6" />
        <stop offset="1" [attr.stop-color]="model.modelBackground" />
      </linearGradient>

    </defs>

    <image (click)="isCardInfo = !isCardInfo"  x="0" y="0" width="720" height="405" [attr.xlink:href]="model.mediaCardImg" [style.clipPath]="cf.getUrlPath('cardContourUp')" />

    <!-- model header -->
    <g>
      <rect [style.fill]="cf.getUrlPath(markaGradient)"  y="330"
        width="720" height="75" />
      <text class="model-name" x="700" y="385">{{model.nazwaModelu}}</text>
    </g>

    <image x="10" y="345" height="50" width="50%" [attr.xlink:href]="model.modelLogo" preserveAspectRatio="xMinYMin meet" />
  </svg>
  </div>


<div @apearUpDown dynamicHeight *ngIf="(isReady && mnSrv.isModelSpecCardInfo.value) || (isReady && isCardInfo)">
  <mat-tab-group  class="example-stretched-tabs mat-elevation-z4" >
    <mat-tab [label]="model.nazwaModelu">
      <app-model-maszyny-first [model]="model"></app-model-maszyny-first>
    </mat-tab>
    <mat-tab label="Spec"> 
      <app-model-maszyny-spec [model]="model"></app-model-maszyny-spec>
       </mat-tab>
    <mat-tab label="Extra"> 
      Extra info <br>
      <a [routerLink]="['../', model.id]">Link {{model.id}}</a>
    </mat-tab>
  </mat-tab-group>
</div>

</div>