<section *ngIf="!isDataLoaded">
  <mat-toolbar>
    Trwa wczytywanie danych...
  </mat-toolbar>

  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%" height="100%"
    viewBox="0 0 1000 1080" preserveAspectRatio="xMidYMid meet">
    <image opacity="0.4" x="0" y="0" width="100%" height="100%" xlink:href="assets/svg/logotypy/logo_bax_signOnly.svg"
      preserveAspectRatio="xMidYMid meet"></image>
    <image x="0" y="0" width="100%" height="100%" xlink:href="assets/svg/preloaders/puff.svg"
      preserveAspectRatio="xMidYMid meet"></image>
  </svg>
</section>



<section *ngIf="isDataLoaded" class="maszyny-nowe-container" #modelList>
  
  <div @bpAnimEnterLeaveFromSide *ngIf="isOptionButtonShown" class="option-floating-button" [style.top.px]="topOffset">
    <button mat-mini-fab (click)="filterDialogOpen()">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
  <app-model-list></app-model-list>
</section>