<div class="oferta-item-container" [ngClass]="gradientClass">
    <div class="oferta-item-container-body">
      <div class="oferta-item-container-body-header">
        
        <div class="oferta-item-container-body-header-title">{{category}}</div>
        <img class="oferta-item-container-body-header-logo" [attr.src]="logoSrc" [attr.alt]="mark + 'logo'">
      
      </div>

      <div class="oferta-item-container-body-footer">
        <div class="outerus"></div>
        <img class="oferta-item-container-footer-img" [attr.src]="imageSrc" [attr.alt]="image">
      </div>
    </div>
  </div>