<svg #svg xmlns="http://www.w3.org/2000/svg" [attr.viewBox]="svgViewBox" preserveAspectRatio="none" (click)="goTo()">
    <image [attr.xlink:href]="miniInfo.imgUrl" x="0" y="0" width="1920" height="1080"></image>
    <circle cx="50%" cy="50%" r="1" fill="red"></circle>
    <rect x="0" y="0" width="1920" height="1080" class="rect-fill" [style.fill]="miniInfo.fill"></rect>


    <svg *ngIf="miniInfo.invert" #titleText x="480" y="340" width="960" height="400">
        <g>
            <rect class="title-box-border" x="0" y="0" width="960" height="400" [ngStyle]="miniInfo.invert? {fill: miniInfo.fill, fillOpacity: 0.45}: {}"></rect>
            <title>{{miniInfo.title}}</title>
        </g>
    </svg>




    <svg #followMouse [attr.x]="followMousePos.x" width="550" height="550" viewBox="0 0 200 200" [attr.y]="followMousePos.y">
        <g [@scaleOriginOverLeave]="{value: isMouseOver? 'over' : 'leave', params: {x: 100, y: 100}}">
            <circle cx="50%" cy="50%" r="100" [attr.fill]="miniInfo.pointer"></circle>
        </g>
    </svg>


    <svg @svgInit #titleText x="480" y="340" width="960" height="400">
        <title>{{miniInfo.title}}</title>
        <g>
            <rect class="title-box-border" x="0" y="0" width="960" height="400"></rect>
        </g>
        <g>
            <text x="50%" y="56%" width="480" height="400" font-size="60px" class="title-box-text">{{miniInfo.title |
                uppercase}}</text>
        </g>
        <g>
            <line x1="10%" y1="65%" x2="90%" y2="65%" stroke="white" stroke-width="10px"></line>
        </g>
    </svg>

</svg>