.oferta-item-container {
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    transition: box-shadow .3s;
    max-width: 300px;
}

.oferta-item-container:hover {
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}


.oferta-item-container:hover .svg-logo-bax {
    opacity: 0.05;
}


.svg-logo-bax {
    opacity: 0.45;
    transition: opacity 0.5s ease-in-out;
}

.oferta-item-title {
    text-transform: uppercase;
}
