<div class="dots-container">
    <div class="oferta-body">    

        <app-title-block [title]="'Serwis w BAX'"></app-title-block>
        
        <div class="oferta-main-text" [ngClass]="cssMainTextCols">
            <h3>Wieloletnie doświadczenie pogłębiane aktualnymi szkoleniami stawia nasz serwis w czołówce marek. Odpowiadając na oczekiwania naszych klientów oraz rynku maszyn systematycznie poszerzamy zakres świadczonych usług. <br/>
                Aktualnie oferujemy serwis bieżący maszyn, przeglądy, naprawy mechaniczne, elektryczne i hydrauliczne, regeneracja osprzętu w tym chwytaków, wałów do maszyn rozdrabniających i kruszących, połączeń tulejowo sworzniowych itp.<br/>
               Obsługa i reakcja w najkrótszym czasie zadowalającym naszych klientów !<br/>
               Zapraszamy do kontaktu.
            </h3>
        </div>

            <!-- <div class="oferta-pics-container bax-transparent-gradient bax-border">
                <img src="../../../../assets/oferta/1x1/bax/IMG-20191105-WA0022.JPG" />
            </div> -->

        <div class="oferta-main-text" [ngClass]="cssMainTextCols"></div>
        
        <app-title-block [title]="'Kontakt'"></app-title-block>

        <div class="oferta-card-container">
            <app-card-person *ngFor="let contact of contactCards" [contactInfo]="contact" class="oferta-card-contact"></app-card-person>
        </div>
       
        <div class="oferta-color-divider bax-gradient"></div>
        <app-title-block [title]="'Video'"></app-title-block>

        <div class="youtube-clips-list bax-transparent-gradient white-border">
            <a href="https://youtu.be/Akc0FyjcF_g" target="_blank">
                <div class="youtube-overlay">
                    <img src="../../../../assets/images/news/bax_regeneracja_yt_mini.jpg" />
                </div>
            </a>
        </div>
        

    </div>
</div>