.oferta-container {
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;

    background: linear-gradient(90deg, rgb(235, 235, 235) 20px, transparent 1%) center, linear-gradient(rgb(235, 235, 235) 20px, transparent 1%) center, #3882E8;
    background-size: 22px 22px;
}


.oferta-item-container {
    box-shadow: 3px 3px 3px 0px rgba(0,0,0,0.75);
    transition: box-shadow .3s;
    
    min-height: calc(100vh - var(--navHeight));
    min-width: 100vw;


    display: flex;
    flex-direction: column;

}




.oferta-item-container:hover {
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}

.oferta-item-container:hover .oferta-item-container-body-footer::after {
    opacity: 0;
}

.oferta-item-container:hover .oferta-item-container-body-header-logo {
    width: 90%;
    height: 90%;    
}


.oferta-item-container-body {
    flex: 1;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: stretch;
    justify-items: stretch;
    position: relative;
}


.oferta-item-container-body::before {



    position: absolute;
    top:0;
    height: 100%;
    width: 100%;
    content: '';
    
    background: linear-gradient(90deg, white 20px, transparent 1%) center, linear-gradient(white 20px, transparent 1%) center,rgba(0,0,0,0.1);
    background-size: 21px 21px;
}



.oferta-item-container-body-header {
    flex: 1;
    font-variant-caps: all-petite-caps;
    font-size: 2em;
    padding: 10px;
    opacity: 1.6;
    color: var(--baxColor);
    display: flex;
    flex-direction: column;
    position: relative;

}

    .oferta-item-container-body-header-title {
        position: absolute;
        content: '';
        right: 5px;
        text-align: right;
    }


.oferta-item-container-body-header-logo {
    flex:1;
    margin: auto;
    width: 80%;
    transition: all 0.3s ease-in-out 0.15s;
}



.oferta-item-container-body-footer {
    flex: 1;
    position: relative;
}

.oferta-item-container-body-footer::after {
    position: absolute;
    content: '';
    top: 0;
    left: 5%;
    width: 90%;
    height: 90%;
    opacity: 0.25;
    background-image: url(../../../assets/svg/logotypy/logo_bax_signOnly_white.svg);
    background-position: center;
    transition: opacity 0.3s ease-in-out 0.2s;
    
}

.outerus {
    position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 90%;
    border-radius: 50%;
    box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}


.oferta-item-container-footer-img {
    position: absolute;
    top: 0;
    left: 5%;
    border-radius: 50%;
    width: 90%;
    height: 90%;
}























.arjes-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(-225deg, rgba(255,255,255,1) 10%,  rgba(255,94,14,1) 100%);
}

.bax-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(-225deg, rgba(255,255,255,1) 10%,  rgba(0,84,164,1) 100%);
}

.guidetti-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(-225deg, rgba(255,255,255,1) 10%,  rgba(0,106,179,1) 100%);
}

.sennebogen-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(-225deg, rgba(255,255,255,1) 10%,  rgba(77,170,43,1) 100%);
}

.yanmar-gradient {
    background: rgb(255,255,255);
    background: linear-gradient(-225deg, rgba(255,255,255,1) 10%,  rgba(227,0,32,1) 100%);
}
