<section fxFill class="o-nas-container">
  <img src="../../../assets/svg/contact/bax_o-nas_lustro.svg" alt="bax o nas">
  <div class="o-nas">
      <strong>BAX BAUMASCHINEN</strong> jest firmą handlową istniejącą na rynku polskim od 2003 roku.
      Od ponad 10 lat zajmujemy się sprzedażą maszyn budowlanych przeładunkowcyh oraz rozdrabniaczy.
      <p>
          Cieszymy się Państwa zaufaniem dzięki zaangażowaniu, wiarygodności i rzetelności,
          które niezmiennie towarzyszą nam na każdym etapie realizacji sprzedaży czy usług serwisowych.
      </p>
      <p>
          Służymy Państwu naszym doświadczeniem.
          Nasi Doradcy Techniczni zapewnią Państwu profesjonalną obsługę w zakresie pomocy przy doborze maszyn,
          które w największym stopniu spełnią Państwa oczekiwania i zapewnią Państwu realizację zadań i projektów.
          Oferujemy Państwu pełną gamę maszyn oraz serwis i części zamienne.
      </p>
  </div>
</section>