<div class="bg">
</div>

<div *ngIf="!isReady" class="mat-display-1">
  ..trwa wczytywanie danych..
</div>

<div *ngIf="isReady">
  <div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <iframe *ngIf="data.youtubeEmbedUrl" [ngClass]="isSmall() ? 'yt-sm' : 'yt'" [attr.src]="data.youtubeEmbedUrl" frameborder="0"
      allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <app-facebook-button fxFlex="100"></app-facebook-button>
  </div>

  <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutAlign="start center">
    <app-news-article-date *ngIf="!isSmall()" [date]="data.creationDate"></app-news-article-date>
    <div fxLayout="column" class="header-title-container" fxLayoutAlign="center center">
      <div class="header-title">
        <u>{{data.title.title | uppercase}}</u>
      </div>
      <div class="header-subtitle">
        {{data.title.subtitle | uppercase}}
      </div>
    </div>
  </div>
  <div class="content-text" [innerHtml]="data.text"></div>

</div>

<button (click)="getPrev()">prev</button>
<button (click)="getNext()">next</button>