.article-navigation {
    position: fixed;
    display: inline-flex;
    width: 50px;
    bottom: 10px;
    right:10px;
}


.svg-container {
    position: absolute;
    z-index: -1;
}


.yt {
    position: relative;
    padding: 25px;
    width: 560px;
    height: 316px;
    filter: drop-shadow(0 0 0.75rem black);
}

.yt-sm {
    padding: 25px;
    height: 100%;
    filter: drop-shadow(0 0 0.75rem black);
}

.bg {
    /* background-image: url('http://bdotp.pl/textury/mini-02.svg');
    background-size: cover; */

    /* background-repeat: repeat-y; */
    display: block;
    margin: 0;
    padding: 0;
    min-height: 98vh;
    height: 100%;
}


.content-text {
    padding: 15px;

    /* line-height: 1.2em;
    font-size: 1.4em; */
    /* font-stretch: extra-expanded; */
}
.content-text-big {
    max-height: 50vh; 
    overflow-y: auto
}

.header-title-container {
    padding: 25px;
}
.header-title {
 font-size: 2em;   
}
.header-subtitle {
    font-size: 1.5em;
    color: red;
}