.svg-container {
    position: absolute;
    z-index: -1;
}


.yt {
    position: relative;
    top: 250px;
    padding: 25px;
    width: 560px;
    height: 316px;
    filter: drop-shadow(0 0 0.75rem black);
}

.yt-sm {
    padding: 25px;
    height: 100%;
    filter: drop-shadow(0 0 0.75rem black);
}

.bg {
    z-index: -1;
    position: absolute;
    background-image: url('http://bdotp.pl/textury/mini-02.svg');
    background-size: cover;
    background-repeat: repeat-y;
    opacity: 0.15;
    width: 100%;
    height: 100%;
}

.content-text {
    padding: 20px;
}

.header-title-container {
    padding: 25px;
}
.header-title {
 font-size: 2em;   
}
.header-subtitle {
    font-size: 1.5em;
    color: red;
}