<div class="product-info-container">
    <h1>Sennebogen</h1>
    <p>Maszyny przeładunkowe <span class="title">SENNEBOGEN Green Line</span> to specjalnie zaprojektowane niemieckie
        urządzenia wysokiego przeładunku.</p>
    <p>Maszyny przygotowane są do wydajnej i niezawodnej pracy nawet do <strong>8000 godzin</strong> rocznie.
        Dzięki odpowiedniemu doborowi podzespołów, prawie 70-letniemu doświadczeniu oraz wysokiej jakości wykonania,
        urządzenia spisują się świetnie w najcięższych warunkach pracy.
        W firmie Sennebogen pracuje ponad 1 500 osób do 1980 r. firma wyprodukowała ponad 20 000 jednostek sprzętu.
        W ciągu ostatnich 10 lat w Sennebogen opracowano oponad 50 nowych produktów w kategorii wagowej od 10 t do 420
        t.
        Zasięg marki Sennebogen to 5 kontynetów, ponad 100 krajów i ponad 250 autoryzowanych dealerów na świecie.
        Tajemnicą sukcesu Sennebogen to mnogość technologicznych innowacji, stałe udoskonalanie procesu produkcji i 7
        etapowy system kontroli produktu.</p>
    <p>Nazwa sprzętu Sennebogen "Zielona linia" podkreśla troskę producenta o ekologię a produkcja w ostatnich kilku
        latach
        na poziomie ponad 2000 maszyn rocznie stawia firmę Sennebogen jako największego producenta maszyn
        przeładunkowych.</p>
</div>