.model-maszyny {
    padding: 10px;
}


.path {
    stroke-dasharray: 300;
    stroke-dashoffset: 200;
    animation: dash 1s linear forwards;
  }

  @keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }

.bg-cover {
      fill: green;
      transition: d 300ms;
  }

.bg-cover:hover path {
    d: path("M0,0V57.5s150,10,200,10,200-10,200-10V0H0Z")
}





.flip-model-maszyny {
    position: absolute;
    top: 325px;
}

.ramka-stroke {
    fill: #ccc;
}

.metalic-gradient {
    fill: #b3b3b3;
    /* background-image: linear-gradient(to right, #f5f6f6 0%,#dbdce2 15%,#b8bac6 100%); */

}

.model-name {
    font-size: 50px;
    fill: #fff;
    text-anchor: end;
}

.read-more {
    font-size: 24px;
    fill: #0655a5;
    cursor: pointer;
    text-anchor: end;
}



.revers-property-name {
    font-size: 16px;
    fill: #0655a5;
    text-anchor: start;
}

.revers-property-value {
    font-size: 18px;
    fill: #0655a5;
    text-anchor: end;
}




.model-maszyny-spec-container {
    max-height: 625px;  
    overflow-y: auto;

}


