.dzial-big-mobile {
    text-anchor: middle;
    stroke-miterlimit: 10;
    fill: #0655a5;
    stroke-width: 3;
    font-size: 50px;
    letter-spacing: 0.02em;
}

.info-text-mobile {
    text-anchor: middle;
    font-size: 33px;
    fill: #0054a6;  
}


