.svg-text {
    font-size: 6em;
}

.scale{

}

.grow { transition: all .2s cubic-bezier(0.075, 0.82, 0.165, 1) }
.grow:hover { 
    transform: scale(1.1);
    transform: translate(50 50);
 }

.scale-up {
    transform: scale3d(1.2);
    transition: all 2s
}

.scale-down {
    transform: scale3d(1);

}