<section data="header">
  <mat-card>
    <mat-card-content>
      <div class="img-shadow" baxPreloader [imgUrl]="imgErobocze" [marka]="0"></div>
    </mat-card-content>
  </mat-card>
</section>

<section class="mat-body">
  <p>📣 Let's get ready to Rumble ❗❗❗ U nas w firmie najwyższy stan gotowości 😉 Co słychać ❓ Przygotowania już na
    finiszu ? maszyny lśnią, plan zwiedzania eRobocze już ułożony ❓ Przede wszystkim zapraszamy do odwiedzenia naszego
    stoiska, którego gościem specjalnym, ponownie jak na zeszłorocznych eRobocze Turek, będzie - KuraZłomowisko.pl
    Krzysztof Domogała, wszyscy fani Zlomowisko.pl będą mogli spotkać na żywo bohatera serii.</p>
  <p>Z ogromną przyjemnością zapraszamy na organizowany przez nas konkurs <strong>\"Mistrzowski chwyt\" 💪</strong> na
    maszynie <strong>SENNEBOGEN</strong> Zachęcamy do wzięcia udziału/kibicowania podczas konkursu <strong>\"Yanek - The
      Best Operator\"</strong>. Sprawności tutaj będą testowane na maszynach której jesteśmy autoryzowanym dealerem -
    <strong>Yanmar</strong>. <i>Gdzie BAX tam impreza 🎊❗</i></p>
  <p><strong>ZAPRASZAMY:</strong> Sosnowiec, najbliższa sobota 8 czerwca od 9:00</p>
</section>