<div @enterLeaveFromSide *ngIf="isScrollShown" class="scroll-to-top" (click)="scrollToTop()"></div>

<!-- <div *ngIf="isInProgress" @animWidth (@animWidth.done)="animWidthIsDone($event)">
        <div class="is-in-progress">
            <img class="is-in-progress-logo" src="../assets/svg/logotypy/logo_bax_signOnly_white.svg">
        </div>
</div>

<div class="indicator-container">
        <div class="lds-roller" *ngIf="isResolving && isInProgress">
        </div>
</div> -->







<section class="app-container">
    <nav>
        <app-menu *ngIf="!isSmall" class="nav-vertical"></app-menu>
        <app-menu-horizontal *ngIf="isSmall" class="nav-horizontal"></app-menu-horizontal>
    </nav>
    <main #mainContent cdkScrollable [@routeAnimations]="prepareRoute(outlet)"
        [ngClass]="isSmall? 'main-vertical': 'main-horizontal'">
        <div class="router-outlet-container">
            <router-outlet #outlet="outlet"></router-outlet>
        </div>
    </main>
</section>