<svg @svgInit y="0" xmlns="http://www.w3.org/2000/svg" viewBox="0 50 1920 1080">
  <defs>
    <style>
      .cls-1 {
        font-size: 30px;
        font-family: RobotoCondensed-Bold, Roboto Condensed;
        font-weight: 700;
        fill: #0054a5;
        letter-spacing: 0.2em;
      }
      .cls-2 {
        fill: none;
        stroke: #0054a5;
        stroke-miterlimit: 10;
        stroke-width: 2px;
      }
    </style>
  </defs>
  <title>menu all</title>
  <g id="about"><text class="cls-1" transform="translate(376 982.77) scale(0.6 1)">ABOUT</text>
    <line class="cls-2" x1="378.57" y1="998" x2="442.81" y2="998" />
  </g>
  <g id="offer"><text class="cls-1" transform="translate(646.14 982.77) scale(0.6 1)">OFFER</text>
    <line class="cls-2" x1="646.48" y1="998" x2="710.72" y2="998" />
  </g>
  <g id="news"><text class="cls-1" transform="translate(914.73 982.77) scale(0.6 1)">NEWS</text>
    <line class="cls-2" x1="975.03" y1="998" x2="906" y2="998" />
  </g>
  <g id="contact"><text class="cls-1" transform="translate(1162.66 982.77) scale(0.6 1)">CONTACT</text>
    <line class="cls-2" x1="1247.83" y1="998" x2="1173.31" y2="998" />
  </g>
  <g id="follow_us" data-name="follow us"><text class="cls-1" transform="translate(1414.87 982.77) scale(0.6 1)">FOLLOW US!</text>
    <line class="cls-2" x1="1531.16" y1="998" x2="1424.09" y2="998" />
  </g>
</svg>