.senne-container {
    min-height: 100vh;
    min-width: 100wh;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    color: rgb(0,84,164);

    position: relative;
}

.senne-container::before {
    position: absolute;
    content: '';
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, rgb(235, 235, 235) 20px, transparent 1%) center, linear-gradient(rgb(235, 235, 235) 20px, transparent 1%) center, #3882E8;
    background-size: 22px 22px;
    opacity: 0.2;
    z-index: 0;
}


.senne-body {
    flex: 1;
    margin: auto;
    max-width: 1050px;
    
    position: relative;
    
    
}





.main-text {
    padding: 15px;   
    position: relative;
}

.main-text-col-0 {
    column-count: 0;
    column-rule-style: solid;
    column-rule-width: 1px;
}
.main-text-col-2 {
    column-count: 2;
    column-rule-style: solid;
    column-rule-width: 1px;
    column-rule-color: var(--sennebogenColor);
}




.main-text img {
    position: absolute;
    z-index: 0;
    content: '';
    right: 0px;
    bottom: 0px;
    width: 100%;
    height: 0px;
    padding-bottom: 50%;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
}



.pics {
    margin: 25px;
    padding: 35px;
    display: flex;
    flex-flow: row wrap;
    
    justify-content: center;
    align-content: center;
  
    position: relative;
}

.pics::before {
    position: absolute;
    content: '';
    text-justify: right;
    font-size: 18px;
    right: -15px;
    top: -15px;
    width: 45%;
    height: 45%;
    border-top: thick double #4DAA2B;
    border-right: thick double #4DAA2B;
}



/* .pics::after {
    position: absolute;
    content: '';
    text-justify: right;
    font-size: 18px;
    right: -25px;
    top: -25px;
    width: 40%;
    height: 40%;
    border-top: thick double #4DAA2B;
    border-right: thick double #4DAA2B;
} */


/* .pics img:hover {
    max-width: 400px;
    max-height: 400px;
} */

.pics img {
    margin: 5px;
    flex: 0 1 350px;
    max-width: 350px;
    max-height: 350px;
    width: 100%;
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
    transition: all 0.2s ease-in-out;
    border-width: 5px;
    border-style: solid;
    border-color: var(--sennebogenColor);
    
    position: relative;

}

.pics img:hover {
    border-color: white;    
}





.color-divider {
    min-height: 10px;
    min-width: 100%;
    margin-top: 25px;
    margin-bottom: 25px;
    border-top: 2px solid rgba(0,84,164, 0.5)
}

.card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
}

.card-contact {
    flex: 1 1 350px;
    margin: 10px;
    box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}

