<div class="dots-container">
    <div class="oferta-body">    

        <app-oferta-title-block [title]="'Marka Guidetti Recykling w BAX'"></app-oferta-title-block>
    
        <div class="oferta-main-text" [ngClass]="cssMainTextCols">
            <h3>Nasza firma BAX Baumaschinen  jest od stycznia 2018 r generalnym dystrybuterem maszyn do recyklingu renomowanej  włoskiej firmy Guidetti Recycling S.R.L.<br />
                Firma Guidetti Recykling jest profesjonalną firmą, która produkuje innowacyjne maszyny. Wiodącymem producentem w dziedzinie recyklingu metali, jest przedstawicielem synonimu jakości Made in Italy na świecie, z know-how zdobytym w trakcie ponad trzydziestoletniego doświadczenia i inwestycji w badania i rozwój.<br />
                Guidetti to pasja, technologia, dbałość o każdy detal funkcjonalny, badanie nowych rozwiązań i rozwój systemów mających na celu osiągnięcie doskonałości.<br />
            </h3>
        </div>

            <div class="oferta-pics-container guidetti-transparent-gradient guidetti-border">
                <div baxImgPreloader [src]="'../../../../assets/oferta/1x1/guidetti/IMG_20191105_135916.JPG'" ></div>
                <div baxImgPreloader [src]="'../../../../assets/oferta/1x1/guidetti/IMG-20191105-WA0022.JPG'"></div>
                <div baxImgPreloader [src]="'../../../../assets/oferta/1x1/guidetti/IMG_20191105_135916.JPG'"></div>
            </div>

        <div class="oferta-main-text" [ngClass]="cssMainTextCols">
            <h3>
                Projektujemy kompaktowe maszyny i linie do recyklingu metali nieżelaznych i materiałów - aluminium, niklu, ołowiu, miedzi, cynku - poprzez systemy zmniejszania wielkości i separacji na sucho, aby odzyskać  surowiec wtórny i używać go ponownie do produkcji.<br />
                Nasze maszyny osiągnęły najwyższy poziom separacji i izolacji akustycznej. Łatwe w użyciu, rozdzielają materiały na podstawie ich wymiarów i ciężaru właściwego, zmniejszając koszty zarządzania i przetwarzania. <br />
                Recykling umożliwia ponowne wprowadzenie na rynek tony surowców, oszczędzając energię i zasoby. Zysk osiągnięty w zakresie zmniejszenia zużycia surowców, kosztów dla obywateli i emisji CO2.
                Oferujemy urządzenia do przetwarzania metali kolorowych oraz tworzyw sztucznych.
            </h3>
        </div>

            <div class="oferta-pics-container guidetti-transparent-gradient guidetti-border">
                <div baxImgPreloader [src]="'../../../../assets/oferta/1x1/guidetti/IMG_20190930_111008.JPG'"></div>
                <div baxImgPreloader [src]="'../../../../assets/oferta/1x1/guidetti/IMG_20190930_111511.JPG'"></div>
            </div>
        
        
        <div class="oferta-main-text" [ngClass]="cssMainTextCols">
            <h3>
                Jako autoryzowany przedstawiciel marki Guidetii Recycling oferujemy maszyny i urządzenia do recyklingu następujących materiałów:
                <ul>
                <li>recykling kabli oraz chłodnic al/cu,</li>
                <li>recykling metali kolorowych oraz tworzyw sztucznych,</li>
                <li>recykling silników elektrycznych,</li>
                <li>recykling płytek PCB,</li>
                <li>recykling car fluff,</li>
                <li>recykling ZSEE,</li>
                <li>urządzenia do separacji metali oraz tworzyw sztucznych,</li>
                <li>recykling płytek drukowanych PCB,</li>
                <li>urządzenia do rozdrabniania typu rozdrabniacze jednowałowe, dwuwałowe oraz rozdrabniacze młotkowe,</li>
                <li>systemy do granulacji metali turbo młyny.</li>
                </ul>
                Wszystkie nasze urządzenia są projektowane made by measure, czyli produkty są zawszę optymalizowane, produkowane pod możliwości klienta, produkowane na miarę..<br/>
            </h3>
        </div>
        <div class="oferta-pics-container guidetti-transparent-gradient guidetti-border">
            <div baxImgPreloader [src]="'../../../../assets/oferta/1x1/guidetti/IMG_20190930_111457.JPG'"></div>
            <div baxImgPreloader [src]="'../../../../assets/oferta/1x1/guidetti/IMG_20190930_111447.JPG'"></div>
        </div>

        <div class="oferta-main-text" [ngClass]="cssMainTextCols">
            <h3>
                Naszym klientom oferujemy kompletne rozwiązania oraz doradztwo techniczne poprzez doświadczony zespół sprzedaży, administracji oraz rozbudowany własny serwis który świadczy usługi serwisowe gwarancyjne oraz po gwarancyjne.<br />
                Gwarantujemy naszym klientom szybkie dostawy części zamiennych, serwis mobilny, rozwiązania zastępcze, montaż, opiekę serwisową gwarancyjną oraz po gwarancyjną, odkup maszyn Guidetti oraz  własne finansowanie.<br />
                Posiadamy także  w siedzibie firmy w Suchym Lesie k/Poznania show room, gdzie każdy klient może przyjechać i zobaczyć, sprawdzić w pracy nasze maszyny Guidetti, oraz otrzymujemy wsparcie producenta w zakresie doradztwa, projektowania, oraz szkoleń dla klientów oraz pracowników.<br />
                Na życzenie klienta jesteśmy w stanie zorganizować pokaz naszych maszyn w siedzibie i na miejscu docelowym.<br />
            
                Guidetti Lab/ Laboratorium Testowe <br />
                Przed podjęciem decyzji o zakupie urządzeń serdecznie zapraszamy Państwa do przeprowadzenia testów do jednego z największych w Europie centrum testowego w siedzibie firmy Guidetti w Renazzo koło Boloni. Zespół inżynierów producenta oraz maszyny w centrum testowym, umożliwiają symulację środowiska pracy klienta, co pozwala otrzymać adekwatne, rzeczywiste dane co do jakości oraz wydajności na planowanym materiale
            </h3>
        </div>

        <div class="oferta-main-text" [ngClass]="cssMainTextCols">
            <h3>Nazwa sprzętu guidetti "Zielona linia" podkreśla troskę producenta o ekologię a produkcja w ostatnich
                kilku latach na poziomie ponad 2000 maszyn rocznie stawia firmę guidetti jako największego producenta
                maszyn przeładunkowych.
            </h3>
        </div>
        <div class="oferta-color-divider guidetti-gradient"></div>
        
        <app-oferta-title-block [title]="'Przedstawiciel handlowy'"></app-oferta-title-block>

        <div class="oferta-card-container">
            <app-card-person *ngFor="let contact of contactCards" [contactInfo]="contact" class="oferta-card-contact"></app-card-person>
        </div>
       
        <div class="oferta-color-divider guidetti-gradient"></div>
        
        <app-oferta-title-block [title]="'Prospekty do pobrania'"></app-oferta-title-block>
        <div class="oferta-pdf-container guidetti-transparent-gradient guidetti-border">
            <a href="../../../../assets/pdf/guidetti/guidetti_sincro_315_eko_granulator_kompaktowy.pdf" target="_blank">    
                <div class="pdf-overlay">
                    <div baxImgPreloader [src]="'../../../../assets/pdf/guidetti/guidetti_robi_151_separator_wibracyjny_na_sucho.png'"></div>
                </div>
            </a>

            <a href="../../../../assets/pdf/guidetti/guidetti_sincro_315_eko_granulator_kompaktowy.pdf" target="_blank">    
                <div class="pdf-overlay">
                    <div baxImgPreloader [src]="'../../../../assets/pdf/guidetti/guidetti_sincro_315_eko_granulator_kompaktowy.png'"></div>
                </div>
            </a>
            
            <a href="../../../../assets/pdf/guidetti/guidetti_multimedia_general_catalogue.pdf" target="_blank">    
                <div class="pdf-overlay">
                    <div baxImgPreloader [src]="'../../../../assets/pdf/guidetti/guidetti_multimedia_general_catalogue.png'"></div>
                </div>
            </a>
        </div>
    </div>
</div>