 /* @import "~@angular/material/prebuilt-themes/indigo-pink.css";  */
@import "assets/css/bax-material-theme.css";
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700');


* , *::before,  *::after {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --navWidth: 5rem;
  --navHeight: 2.5rem; 
  --navHeight: 50px; 

  --baxColor: #0054A6;
  --sennebogenColor: #4DAA2B;
  --yanmarColor: #E30020;
  --arjesColor: #FF5E0E;
  --zemmlerColor: #007843;
}

a {
  outline: none;
}





.img-shadow {
  filter: drop-shadow(10px 10px 4px grey);
}

.logo-bax-color {
  fill: var(--baxColor);
}

.logo-yanmar-color {
  fill: var(--yanmarColor);
}

.logo-sennebogen-color {
  fill: var(--sennebogenColor);
}

.main-content-height {
  height: calc(100% - var(navHeight));

}


.bg-flow {
  position: absolute;
  z-index: -1;
  height: 100%;
}


/* 
h1 { font-size: 2em } 
h2 { font-size: 1.5em } */

