/* @import "~@angular/material/prebuilt-themes/indigo-pink.css"; */
@import "assets/css/bax-material-theme.css"; 
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,400i,700');



* , *::before,  *::after {
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu', sans-serif;
}

:root {
  --navWidth: 80px;
  --navHeight: 60px; 

  --arjesColor: #FF5E0E;
  --baxColor: #0054A6;
  --guidettiColor: #006AB3;
  --sennebogenColor: #4DAA2B;
  --yanmarColor: #E30020;
  --zemmlerColor: #007843;
}

a {
  outline: none;
}


.img-shadow {
  filter: drop-shadow(10px 10px 4px grey);
}

.logo-arjes-color {
  fill: var(--arjesColor);
  background-color: var(--arjesColor);
}

.logo-bax-color {
  fill: var(--baxColor);
  background-color: var(--baxColor);
}

.logo-guidetti-color {
  fill: var(--guidettiColor);
  background-color: var(--guidettiColor);
}

.logo-sennebogen-color {
  fill: var(--sennebogenColor);
  background-color: var(--sennebogenColor);
}

.logo-yanmar-color {
  fill: var(--yanmarColor);
  background-color: var(--yanmarColor);
}



.main-content-height {
  height: calc(100% - var(navHeight));
}


.bg-flow {
  position: absolute;
  z-index: -1;
  height: 100%;
}


.dots-container {
  min-height: 100vh;
  min-width: 100wh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  color: var(--baxColor);

  position: relative;
}

.dots-container::before {
  position: absolute;
  content: '';
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, rgb(235, 235, 235) 20px, transparent 1%) center, linear-gradient(rgb(235, 235, 235) 20px, transparent 1%) center, #3882E8;
  background-size: 22px 22px;
  opacity: 0.2;
  z-index: -1;
}




.oferta-body {
  flex: 1;
  margin: auto;
  max-width: 1050px;

  position: relative;
}


.oferta-pdf-container {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-flow: row wrap;
  
  justify-content: center;
  align-content: center;

  position: relative;
}






.oferta-pics-container {
  margin-top: 25px;
  margin-bottom: 25px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-flow: row wrap;
  
  justify-content: center;
  align-content: center;

  position: relative;
}

.oferta-pics-container::before {
  position: absolute;
  content: '';
  text-justify: right;
  font-size: 18px;
  right: -15px;
  top: -15px;
  width: 45%;
  height: 45%;

}

.oferta-pics-container img {
  margin: 5px;
  flex: 0 1 350px;
  max-width: 350px;
  max-height: 350px;
  width: 100%;
  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
  transition: all 0.2s ease-in-out;
  border-width: 5px;
  border-style: solid;
  
  position: relative;
}

.oferta-color-divider {
  min-height: 10px;
  min-width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  border-top: 2px solid rgba(0,84,164, 0.5)
}

.oferta-pics-container img:hover {
  border-color: white;    
}

.oferta-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
}

.oferta-card-contact {
  flex: 1 1 350px;
  margin: 10px;
  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
}

.oferta-main-text {
  padding: 15px;   
  position: relative;
}
.oferta-main-text-col-2 {
  column-count: 2;
  column-rule-style: solid;
  column-rule-width: 1px;
}

.oferta-main-text ul {
  margin-top: 15px;
  margin-bottom: 15px;
}
.oferta-main-text li {
  margin-left: 25px;
}


.arjes-border img, .bax-border img, .guidetti-border img, .sennebogen-border img, .white-border img, .yanmar-border img  {
  border-width: 5px;
  border-style: solid;
  transition: border-color 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.arjes-border img {
  border-color: var(--arjesColor);
}
.arjes-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(-225deg, rgba(255,255,255,1) 10%,  rgba(255,94,14,1) 100%);
}
.arjes-transparent-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(-235deg, rgba(255,255,255,0) 30%,  rgba(255,94,14,1) 100%);
}


.bax-border img {
  border-color: var(--baxColor);
}
.bax-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(-225deg, rgba(255,255,255,1) 10%,  rgba(0,84,164,1) 100%);
}

.bax-transparent-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(-235deg, rgba(255,255,255,0) 30%,  rgba(0,84,164,1) 100%);
}


.guidetti-border img {
  border-color: var(--guidettiColor);
}
.guidetti-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(-225deg, rgba(255,255,255,1) 10%,  rgba(0,106,179,1) 100%);
}

.guidetti-transparent-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(-235deg, rgba(255,255,255,0) 30%,  rgba(0,106,179,1) 100%);
}



.sennebogen-border img {
  border-color: var(--sennebogenColor);
}
.sennebogen-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(-225deg, rgba(255,255,255,1) 10%,  rgba(77,170,43,1) 100%);
}
.sennebogen-transparent-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(-235deg, rgba(255,255,255,0) 30%,  rgba(77,170,43,1) 100%);
}

.white-border img {
  border-color: white;
}


.yanmar-border img {
  border-color: var(--yanmarColor);
}
.yanmar-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(-225deg, rgba(255,255,255,1) 10%,  rgba(227,0,32,1) 100%);
}
.yanmar-transparent-gradient {
  background: rgb(255,255,255);
  background: linear-gradient(-235deg, rgba(255,255,255,0) 30%,  rgba(227,0,32,1) 100%);
}

/* 
h1 { font-size: 2em } 
h2 { font-size: 1.5em } */

h3 {
  line-height: 1.4em;
}




.pdf-overlay {
  cursor: pointer;
  position: relative;
}


.pdf-clips-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;  

  position: relative;
}

.pdf-overlay {
  flex: 1 1 250px;
  margin: 20px;
  max-width: 250px;
  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
  transition: all 0.2s ease-in-out;
}

.pdf-overlay img {
  width: 100%;
}

.pdf-overlay:hover::after {
  width: 60%;
  height: 60%;
  opacity: 0.7;
}


.pdf-overlay::after {
  position: absolute;
  top: 50%;
  left: 50%;
    
  content: '';
  width: 50%;
  max-width: 250px;
  height: 50%;
  
  opacity: 0.35;
  transform: translate(-50%, -50%);

  background-image: url(assets/images/icons/pdf_file_icon.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: all 0.2s ease-in-out;
}

.pdf-overlay:hover {
  border-color: white;
}







.youtube-overlay {
  cursor: pointer;
  position: relative;
}


.youtube-clips-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;  

  position: relative;
}

.youtube-overlay {
  flex: 1 1 350px;
  margin: 20px;
  box-shadow: 10px 10px 14px 0px rgba(0,0,0,0.75);
  transition: all 0.2s ease-in-out;
}

.youtube-overlay img {
  width: 100%;
}

.youtube-overlay:hover::after {
  width: 60%;
  height: 60%;
  opacity: 0.7;
}


.youtube-overlay::after {
  position: absolute;
  top: 50%;
  left: 50%;
    
  content: '';
  width: 50%;
  height: 50%;
  
  opacity: 0.35;
  transform: translate(-50%, -50%);

  background-image: url(assets/images/icons/youTube_logo.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  transition: all 0.2s ease-in-out;
}

.youtube-overlay:hover {
  border-color: white;
}



