<svg #svg width="100%" height="100%" [attr.viewBox]="svgProp.viewBox.toString()" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
  <image  width="100%" height="100%" xlink:href="./assets/svg/front_page_bg.svg"></image>
  <image [attr.x]="svgBaxLogoProp.pos.x" [attr.y]="svgBaxLogoProp.pos.y"  width="100%" height="100%" xlink:href="./assets/svg/front_page_logo.svg"></image>
  <image [attr.x]="svgBaxLogSecondLineProp.pos.x" [attr.y]="svgBaxLogSecondLineProp.pos.y" width="100%" height="100%" xlink:href="./assets/svg/front_page_logo_baumaschinen.svg"></image>
  <svg:g app-header-menu-big></svg:g>
</svg>