<!-- <div groupAppear baxPreloader
  imgUrl="https://images.unsplash.com/photo-1535940762834-e5334814e85f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=914&q=80">
</div>

<div groupAppear baxPreloader [marka]="1"
  imgUrl="https://ocdn.eu/pulscms-transforms/1/HzIk9kpTURBXy9hZjM5ZjUyNzE4MWE5NWI0OTZkNmE3NzY4NGIxNjcyMy5qcGeSlQMAVM0KkM0F8ZMFzQMUzQG8gaEwBQ">
</div>
<div groupAppear baxPreloader isFit="true" [marka]="0"
  imgUrl="https://ocdn.eu/pulscms-transforms/1/1wLk9kuTURBXy9mMDlhZDEwYS0wMzE5LTQ0MDctOTIwYS00ZGViNmFmZWYwZmEuanBlZ5KVAwDMjM0RlM0J45MFzQMUzQG8gaEwBQ">
  whaat ?</div> -->


<!-- <div fxLayout="row wrap" fxLayoutGap="10px">
  <div *ngFor="let i of arr index as i" fxFlex="calc(50%-10px)"
    fxFlex.gt-sm="calc(33%-10px)" fxFlex.xs="100">
    <svg @groupAppear style="margin-top: 10px" [showInfo]="true" preserveAspectRatio="xMidYMid meet" width="100%" viewBox="0 0 1920 1080" [marka]="i % 4" x="0" y="0"
      baxPreloader>
    </svg>
  </div>
</div> -->

<div fxLayout="row wrap" fxLayoutGap="10px" fxLayout.xs="column" @brickList
  [@filter]="mnSrv.maszynyNoweList.length">
  <div *ngFor="let model of mnSrv.maszynyNoweList index as i" fxFlex="0 0 calc(50%-10px)" fxFlex.xs="100"
    fxFlex.sm="0 0 calc(50% - 10px)" fxFlex.lg="0 0 calc(33%-10px)" fxFlex.gt-lg="0 0 calc(25%-10px)">
    <app-model-maszyny [model]="model"></app-model-maszyny>
  </div>
</div>